.burger {
    float: left;
    height: 36px;
    width: 36px;
    position: relative;
    display: block;
    transform: scale(1);

    .parts {
        position: absolute;
        display: block;
        width: 100%;
        height: 16%;
        background-color: black;
        left: 0;
        background-color: white;
    }

    .top {
        top: 0%
    }

    .middle {
        top: 33.3%
    }

    .bottom {
        top: 66.6%
    }
}

.burger:active {
    transition: all .3s;
    transform: scale(1.2);
}