@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans-regular-webfont.eot');
    src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular-webfont.woff2') format('woff2'),
         url('../font/opensans-regular-webfont.woff') format('woff'),
         url('../font/opensans-regular-webfont.ttf') format('truetype'),
         url('../font/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'open_sansregular', Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    text-decoration: inherit;
    font-style: inherit;
    color: inherit;
}
